body {
  font-family: 'Open Sans', sans-serif;
}

.newsletter-form {
  color: #444;
  border: 1px solid #666;
  padding: 10px;
  border-radius: 3px;
  position: relative;
}

main {
  width: 600px;
  margin: auto;
}

.newsletter-form h2 {
  margin-top: 0px;
}


input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  height: 30px;
  margin: 0 0 4px;
}

input[type="submit"] {
  width: 100%;
  box-sizing: border-box;
  background: #3cb878;
  border: 0;
  color: white;
  height: 30px;
  margin: 0 0 10px;
  cursor: pointer;
}

.exit-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.question-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 20px;
  background: #3cb878;
  color: white;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  text-align: center;
  font-size: 32px;
  cursor: pointer;
  box-shadow: 4px 4px 10px #666;
}

.key-features {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items:
}

.feature {
  background: #3cb878;
  padding: 30px;
  margin: 10px 0;
  width: 120px;
  box-shadow: 4px 4px 10px #666;
}

.feature p {
  color:white;
  font-weight: bold;
  margin-bottom: 0;
  text-align: center;
}
